{% extends 'base.html' %}

{% block title_content %}Book Update{% endblock %}

{% block body_content %}

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Book Update Form</h2>

      </div>
      <form method="POST" >
          {% csrf_token %}
      <div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label>Name</label></br>
                {{ form.title }}
              </div>
            </div>



        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2024 Evgeniy company</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>



{% endblock %}