{% extends 'base.html' %}

{% block title_content %}Students list{% endblock %}

{% block body_content %}


<form action="{% url 'class_student_delete' %}" method="GET">
  <input
    id="id"
    type="text"
    name="id"/>
  <input type="submit" value="Delete student" class="btn btn-primary" />
</form>
<p></p>

<form id="updateStudentForm" method="POST">
  <input
    type="text"
    name="id"
    id="id_input"
  />
  <input type="button" value="Update student" onclick="submitForm()" class="btn btn-primary" />
</form>
<script>
    var updateURL = "{% url 'class_student_update' id=0 %}";

    function submitForm() {

        var idValue = document.getElementById('id_input').value;

        if (idValue) {
        // Формирование URL с динамическим id
            var url = updateURL.replace('0', encodeURIComponent(idValue));

        // Перенаправление на новую страницу
        window.location.href = url;
        }
        else {
        alert('Введите ID студента.');
        }
    }
</script>
<p></p>

<form id="{% url 'class_student_list' %}" method="GET">
    {% csrf_token %}
  <input type="text" name="teacher_name"/>
  <input type="submit" value="Filter on teacher"  class="btn btn-primary" />
</form>
<p></p>

<form id="{% url 'class_student_list' %}" method="GET">
{% csrf_token %}
  <input type="text" name="subject_name"/>
  <input type="submit" value="Filter on subject"  class="btn btn-primary" />
</form>
<p></p>

<form id="{% url 'class_student_list' %}" method="GET">
{% csrf_token %}
  <input type="text" name="book_number"/>
  <input type="submit" value="Filter on book"  class="btn btn-primary" />
</form>
<p></p>

<input type="button" onclick="window.location.href = '{% url 'class_student_form_create' %}';" class="btn btn-primary" value="Add new student"/>
<input type="button" onclick="window.location.href = '{% url 'class_student_list' %}';" class="btn btn-primary" value="All Students"/>


{# comment Django template #}

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Students List</h1>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for student in students %}
            <div class="col-md-4">
              <div  class="card mb-4 box-shadow" >
                <svg class="bd-placeholder-img card-img-top"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text font-size="30px" x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle" alignment-baseline="middle">
                        {{ student.id }} {{ student.name }} {{ student.surname }}
                    </text>
                </svg>
                <div class="card-body">

                    Age:<b>{{student.age}}</b>
                    Gender:<b>{{student.gender}}</b><br>
                    Subject:<b>{{student.subject.title}}</b><br>
                    Book:<b>{{student.book.title}}</b><br>
                    {% for teacher in student.teachers.all %}
                        Teacher:<b>{{teacher.name}}</b><br>
                    {% endfor %}
                    Address:<b>{{student.address}}</b><br>
                    Birthday:<b>{{student.birthday}}</b>
                    Email:<b>{{student.email}}</b>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <input type="button" onclick="window.location.href = '{% url 'class_student_update' id=student.id %}';" class="btn btn-sm btn-outline-secondary" value="Edit"/>
                      <input type="button" onclick="deleteStudent('{{ student.id }}')" class="btn btn-sm btn-outline-secondary" value="Delete"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <h1>Students list is empty</h1>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <h3><p style="text-align: center;">
          <a href="#">Back to top</a>
        </p></h3>
      </div>
    </footer>

    <script>
    function deleteStudent(studentId) {
        var deleteUrl = '{% url 'class_student_delete' %}?id=' + studentId;
        window.location.href = deleteUrl;
    }
    </script>
<!--     Bootstrap core JavaScript-->
<!-- ================================================== &ndash;&gt;-->
<!--    &lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->



{% endblock %}