<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'class_student_delete' %}" method="GET">
  <input
    id="id"
    type="text"
    name="id"/>
  <input type="submit" value="Delete student" />
</form>
<p></p>

<form id="updateStudentForm" method="POST">
  <input
    type="text"
    name="id"
    id="id_input"
  />
  <input type="button" value="Delete student" onclick="submitForm()" />
</form>
<script>
    var updateURL = "{% url 'class_student_update' id=0 %}";

    function submitForm() {

        var idValue = document.getElementById('id_input').value;

        if (idValue) {
        // Формирование URL с динамическим id
            var url = updateURL.replace('0', encodeURIComponent(idValue));

        // Перенаправление на новую страницу
        window.location.href = url;
        }
        else {
        alert('Введите ID студента.');
        }
    }
</script>
<p></p>
<form action="{% url 'class_student_form_create' %}" method="GET">
    <input type="submit" value="Add new student">
</form>

<h1>Students List</h1>
<ul>
{% for student in students %}
    <li>
    <h3><a href="{% url 'class_student_update' id=student.id %}"</h3>
    Name:<b>{{student.name}}</b>
    Surname:<b>{{student.surname}}</b>
    Age:<b>{{student.age}}</b>
    Gender:<b>{{student.gender}}</b>
    Address:<b>{{student.address}}</b>
    Description:<b>{{student.description}}</b>
    Birthday:<b>{{student.birthday}}</b>
    Email:<b>{{student.email}}</b>
    Social_URL:<b>{{student.social_url}}</b>
    </li>
{% endfor %}
</ul>



</body>
</html>