asgiref==3.5.2
astroid==2.15.6
black==23.7.0
cffi==1.16.0
dill==0.3.7
distlib==0.3.6
Django==4.1.4
dodgy==0.2.1
Faker==18.9.0
filelock==3.8.2
flake8==5.0.4
flake8-polyfill==1.0.2
gender-guesser==0.4.0
gitdb==4.0.10
GitPython==3.1.32
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
pep8-naming==0.10.0
platformdirs==2.6.0
prospector==1.10.2
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.3.0
pyflakes==2.5.0
pylint==2.17.5
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
requirements-detector==1.2.2
semver==3.0.1
setoptconf-tmp==0.3.1
smmap==5.0.0
snowballstemmer==2.2.0
sqlparse==0.4.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.7.1
Werkzeug==2.2.2
wrapt==1.15.0
